- verses = ['James 4:13-17', '1 John 3:16', 'Romans 1:16', '1 Corinthians 13:1-3', 'Matthew 6:33', 'Philippians 4:6-7', 'Romans 8:38-39', 'Proverbs 25:21-22', 'Psalm 150:6', 'Matthew 5:16', 'Hebrews 13:2', 'James 1:23-24', 'Psalm 62:7', '1 Thessalonians 5:16-18', 'Philippians 1:29', 'Isaiah 53:5-6', 'Psalm 34:17-18', 'Psalm 139:13-14', 'Psalm 139:6', 'Psalm 121:5-6']

mixin verse
  p #{verses[Date.now() % verses.length]}
